chromadb
fastapi
huggingface_hub
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-text-splitters
ollama
pypdf
rank-bm25
uvicorn
reportlab
python-multipart
langchain-groq